#--------------------------------------------------
# Répertoire : /
#--------------------------------------------------

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

#--------------------------------------------------
# ROUTES
#--------------------------------------------------
  # DETAIL D'UN POST
  # PATTERN: posts/{id}/{slug}.html
  # URL: index.php?posts=show&id=x
  RewriteRule ^posts\/([1-9][0-9]*)\/([a-z0-9][a-z0-9\-]*).html$ index.php?posts=show&id=$1 [L]

  # AJOUT D'UN POST: affichage du formulaire
  # PATTERN: /posts/add/form.html
  # URL: index.php?posts=addForm
  RewriteRule ^posts\/add\/form.html$ index.php?posts=addForm [L]

  # AJOUT D'UN POST: INSERT
  # PATTERN: /posts/add/insert.html
  # URL: index.php?posts=add
  RewriteRule ^posts\/add\/insert.html$ index.php?posts=add [L]

  # MODIFICATION D'UN POST: affichage du formulaire
  # PATTERN: /posts/id/slug-du-post/edit/form.html
  # URL: index.php?posts=editForm&id=x
  RewriteRule ^posts\/([1-9][0-9]*)\/([a-z0-9][a-z0-9\-]*)\/edit\/form.html$ index.php?posts=editForm&id=$1 [L]





# --------------------------------------------------
RewriteCond %{REQUEST_URI} !\.(js|css|jpg|gif|zip|png|pdf)$ [NC]
RewriteRule ^(.*)$ index.php [L]
